.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.dialog{
  padding: 1rem;
}
.homepage{
  background-color: rgb(245, 245, 210);
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.homepage > img{
  width: 40vw;
  aspect-ratio: 4/3;
  object-fit: contain;
}
.log{
  display: flex;
  flex-direction: row;
}
.bg{
  background-color: rgba(75, 74, 74, 0.322);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cred{
  font-size: small;
}